/* LandingPage.css */

.pokedex-container {
  text-align: center;
  margin: 20px;
}

.pokemon-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Update to four columns */
  text-align: center;
}

.pokemon-table-header {
  font-weight: bold;
}

.pokemon-table-data {
  border: 1px solid #ddd;
  margin: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.pokemon-name {
  color: #333;
}

.pokemon-type {
  color: #007bff;
}

.pokemon-region {
  color: #28a745;
}
